.headline {
    font-size: 1.9rem;
    font-weight: 400;
    color: $mainGold;

    @mixin atMedium {
        headlinefont-size: 2.875rem;
    }

    &&--white {
        color: $white;
    }

    &&--light {
        font-weight: 300;
    }
}