.primary-nav {
    padding-top: 0px;

    @mixin atMedium {
        &--pull-right-at-medium {
            float: right;
        }
    }
    
   
    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
        
    }

    li {
        list-style: none;

        @mixin atMedium {
            display: inline-block;
            border-bottom: none;
            padding-right: 15px;
        }
    }

    a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $mainGold;
        padding: 20px 0px;
        /*font-size: 1rem;*/
        font-size: 13px; /*convertir en rem*/
        font-weight: 400;
        border-bottom: 1px solid #ebebeb;

        @mixin atMedium {
            padding: 5px 8px;
            border-bottom: none;
        }
    }
}